* {
  font-family: Verdana;
  font-weight: normal;
  color: White;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

#desc {
  font-size: 21px;
  color: Gray;
}

#copyright {
  text-align: right;
}
